<h2>Página de estadísticas</h2>
<br> 
<p>Total Preguntas: <%= stats.quizes %></p>

<p>Total Comentarios: <%= stats.comments %></p>
<p>Media Comentarios: <%= stats.averange.toFixed(2) %></p>

<p>Preguntas sin comentarios: <%= stats.uncommentedQuizes %></p>
<p>Preguntas con comentarios: <%= stats.commentedQuizes %></p>

<p>Comentarios no publicados: <%= stats.unpublishedComments %></p>
<p>Percentaje no publicados: <%= stats.unpublishedPercent.toFixed(2)+'%' %></p>











